{
  "openapi": "3.0.1",
  "info": {
    "title": "OpenAPI Plant Store",
    "description": "A sample API that uses a plant store as an example to demonstrate features in the OpenAPI specification",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://fresh-linkedin-profile-data.p.rapidapi.com"
    }
  ],
  "paths": {
    "/get-linkedin-profile": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "",
        "parameters": [
          {
            "name": "linkedin_url",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uri",
              "example": "https://www.linkedin.com/in/cjfollini/"
            },
            "description": ""
          },
          {
            "name": "include_skills",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ],
              "example": "false"
            },
            "description": "Whether to include skills in the profile details. Enabling this option will consume 0.5 more credits."
          },
          {
            "name": "include_certifications",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ],
              "example": "false"
            },
            "description": "Whether to include certifications in the profile details. Enabling this option will consume 0.5 more credits."
          },
          {
            "name": "include_publications",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ],
              "example": "false"
            },
            "description": "Whether to include publications in the profile details. Enabling this option will consume 0.5 more credits."
          },
          {
            "name": "include_honors",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ],
              "example": "false"
            },
            "description": "Whether to include honors in the profile details. Enabling this option will consume 0.5 more credits."
          },
          {
            "name": "include_volunteers",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ],
              "example": "false"
            },
            "description": "Whether to include volunteer experience in the profile details. Enabling this option will consume 0.5 more credits."
          },
          {
            "name": "include_projects",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ],
              "example": "false"
            },
            "description": "Whether to include projects in the profile details. Enabling this option will consume 0.5 more credits."
          },
          {
            "name": "include_patents",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ],
              "example": "false"
            },
            "description": "Whether to include patents in the profile details. Enabling this option will consume 0.5 more credits."
          },
          {
            "name": "include_courses",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ],
              "example": "false"
            },
            "description": "Whether to include courses in the profile details. Enabling this option will consume 0.5 more credits."
          },
          {
            "name": "include_organizations",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ],
              "example": "false"
            },
            "description": "Whether to include organizations in the profile details. Enabling this option will consume 0.5 more credits."
          },
          {
            "name": "include_profile_status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ],
              "example": "false"
            },
            "description": "Whether to include the profile status. Enabling this option will consume 0.5 more credits."
          },
          {
            "name": "include_company_public_url",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ],
              "example": "false"
            },
            "description": "Whether to include the public URL of the company associated with the profile. Free"
          }
        ],
        "responses": {
          "200": {
            "description": "Personal profile response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonalProfile"
                }
              }
            }
          },
          "400": {
            "description": "Invalid linkedin url",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidURL"
                }
              }
            }
          },
          "404": {
            "description": "Profile not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileNotFound"
                }
              }
            }
          },
          "503": {
            "description": "Profile not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SystemError"
                }
              }
            }
          }
        }
      }
    },
    "/get-profile-recent-activity-time": {
      "get": {
        "description": "Get the time of the latest profile activity",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "linkedin_url",
            "in": "query",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileActivity"
                }
              }
            }
          },
          "400": {
            "description": "Invalid linkedin url",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidURL"
                }
              }
            }
          },
          "404": {
            "description": "Profile not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileNotFound"
                }
              }
            }
          },
          "503": {
            "description": "Profile not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SystemError"
                }
              }
            }
          }
        }
      }
    },
    "/get-linkedin-profile-by-salesnavurl": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "",
        "parameters": [
          {
            "name": "linkedin_url",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uri",
              "example": "https://www.linkedin.com/in/cjfollini/"
            },
            "description": ""
          },
          {
            "name": "include_skills",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ],
              "example": "false"
            },
            "description": "Whether to include skills in the profile details. Enabling this option will consume 0.5 more credits."
          },
          {
            "name": "include_certifications",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ],
              "example": "false"
            },
            "description": "Whether to include certifications in the profile details. Enabling this option will consume 0.5 more credits."
          },
          {
            "name": "include_publications",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ],
              "example": "false"
            },
            "description": "Whether to include publications in the profile details. Enabling this option will consume 0.5 more credits."
          },
          {
            "name": "include_honors",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ],
              "example": "false"
            },
            "description": "Whether to include honors in the profile details. Enabling this option will consume 0.5 more credits."
          },
          {
            "name": "include_volunteers",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ],
              "example": "false"
            },
            "description": "Whether to include volunteer experience in the profile details. Enabling this option will consume 0.5 more credits."
          },
          {
            "name": "include_projects",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ],
              "example": "false"
            },
            "description": "Whether to include projects in the profile details. Enabling this option will consume 0.5 more credits."
          },
          {
            "name": "include_patents",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ],
              "example": "false"
            },
            "description": "Whether to include patents in the profile details. Enabling this option will consume 0.5 more credits."
          },
          {
            "name": "include_courses",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ],
              "example": "false"
            },
            "description": "Whether to include courses in the profile details. Enabling this option will consume 0.5 more credits."
          },
          {
            "name": "include_organizations",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ],
              "example": "false"
            },
            "description": "Whether to include organizations in the profile details. Enabling this option will consume 0.5 more credits."
          },
          {
            "name": "include_profile_status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ],
              "example": "false"
            },
            "description": "Whether to include the profile status. Enabling this option will consume 0.5 more credits."
          },
          {
            "name": "include_company_public_url",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ],
              "example": "false"
            },
            "description": "Whether to include the public URL of the company associated with the profile. Free"
          }
        ],
        "responses": {
          "200": {
            "description": "Personal profile response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonalProfile"
                }
              }
            }
          },
          "400": {
            "description": "Invalid linkedin url",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidURL"
                }
              }
            }
          },
          "404": {
            "description": "Profile not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileNotFound"
                }
              }
            }
          },
          "503": {
            "description": "Profile not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SystemError"
                }
              }
            }
          }
        }
      }
    },
    "/google-full-profiles": {
      "post": {
        "summary": "",
        "description": "",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Full name of the person.",
                    "example": "Anthony James"
                  },
                  "company_name": {
                    "type": "string",
                    "description": "Name of the company.",
                    "example": ""
                  },
                  "job_title": {
                    "type": "string",
                    "description": "Job title of the person.",
                    "example": "CEO"
                  },
                  "location": {
                    "type": "string",
                    "description": "Location of the person.",
                    "example": "US"
                  },
                  "keywords": {
                    "type": "string",
                    "description": "Keywords to refine the search.",
                    "example": ""
                  },
                  "limit": {
                    "type": "integer",
                    "description": "Maximum number of profiles to retrieve.",
                    "example": 5,
                    "default": 5
                  }
                },
                "required": [
                  "name",
                  "job_title"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoogleFullProfiles"
                }
              }
            }
          },
          "400": {
            "description": "Invalid payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidPayload"
                }
              }
            }
          },
          "404": {
            "description": "No profile found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoProfileFound"
                }
              }
            }
          },
          "503": {
            "description": "Profile not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SystemError"
                }
              }
            }
          }
        }
      }
    },
    "/get-company-by-linkedinurl": {
      "get": {
        "description": "",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "linkedin_url",
            "in": "query",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyByLinkedin"
                }
              }
            }
          },
          "400": {
            "description": "Invalid linkedin url",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidURL"
                }
              }
            }
          },
          "404": {
            "description": "Profile not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileNotFound"
                }
              }
            }
          },
          "503": {
            "description": "Profile not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SystemError"
                }
              }
            }
          }
        }
      }
    },
    "/get-company-by-domain": {
      "get": {
        "description": "",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyByDomain"
                }
              }
            }
          },
          "400": {
            "description": "Invalid domain",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidDomain"
                }
              }
            }
          },
          "503": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SystemError"
                }
              }
            }
          }
        }
      }
    },
    "/get-company-by-id": {
      "get": {
        "description": "",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "company_id",
            "in": "query",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyByLinkedin"
                }
              }
            }
          },
          "400": {
            "description": "Invalid company_id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidCompanyID"
                }
              }
            }
          },
          "404": {
            "description": "Profile not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IDNotFound"
                }
              }
            }
          },
          "503": {
            "description": "Profile not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SystemError"
                }
              }
            }
          }
        }
      }
    },
    "/get-company-insights": {
      "get": {
        "description": "",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "company_id",
            "in": "query",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyInsight"
                }
              }
            }
          },
          "400": {
            "description": "Invalid company_id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidCompanyID"
                }
              }
            }
          },
          "404": {
            "description": "ID not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IDNotFound"
                }
              }
            }
          },
          "503": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SystemError"
                }
              }
            }
          }
        }
      }
    },
    "/get-account-iq": {
      "get": {
        "description": "",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "linkedin_url",
            "in": "query",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyInsight"
                }
              }
            }
          },
          "400": {
            "description": "Invalid linkedin URL.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidURL"
                }
              }
            }
          },
          "404": {
            "description": "Profile not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileNotFound"
                }
              }
            }
          },
          "503": {
            "description": "System error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SystemError"
                }
              }
            }
          }
        }
      }
    },
    "/get-company-jobs-count": {
      "get": {
        "description": "",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "company_id",
            "in": "query",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyJobsCount"
                }
              }
            }
          },
          "400": {
            "description": "Invalid company_id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidCompanyID"
                }
              }
            }
          },
          "404": {
            "description": "ID not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IDNotFound"
                }
              }
            }
          },
          "503": {
            "description": "System Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SystemError"
                }
              }
            }
          }
        }
      }
    },
    "/find-custom-headcount": {
      "post": {
        "summary": "Custom headcount by filters",
        "description": "",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "linkedin_url": {
                    "type": "string",
                    "description": "LinkedIn URL of the company.",
                    "example": "https://www.linkedin.com/company/amazon"
                  },
                  "keywords": {
                    "type": "string",
                    "description": "Keywords to refine the search.",
                    "example": ""
                  },
                  "where_they_live": {
                    "type": "array",
                    "description": "Location IDs representing where the individuals live.",
                    "items": {
                      "type": "integer"
                    },
                    "example": [
                      103644278,
                      102713980
                    ]
                  },
                  "where_they_studied": {
                    "type": "array",
                    "description": "School IDs representing where the individuals studied.",
                    "items": {
                      "type": "integer"
                    },
                    "example": [
                      2584,
                      3084
                    ]
                  },
                  "what_they_do": {
                    "type": "array",
                    "description": "Industry or job function IDs representing what the individuals do.",
                    "items": {
                      "type": "integer"
                    },
                    "example": [
                      18,
                      8
                    ]
                  },
                  "what_they_are_skilled_at": {
                    "type": "array",
                    "description": "Skill IDs representing what the individuals are skilled at.",
                    "items": {
                      "type": "integer"
                    },
                    "example": [
                      1346,
                      147
                    ]
                  },
                  "what_they_studied": {
                    "type": "array",
                    "description": "Field of study IDs representing what the individuals studied.",
                    "items": {
                      "type": "integer"
                    },
                    "example": [
                      100189
                    ]
                  },
                  "include_subsidiaries": {
                    "type": "string",
                    "description": "Include subsidiaries in the search. Possible values: 'true', 'false'.",
                    "example": "false"
                  }
                },
                "required": [
                  "linkedin_url",
                  "include_subsidiaries"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "ok"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "headcount": {
                          "type": "integer",
                          "example": 2146
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidPayload"
                }
              }
            }
          },
          "404": {
            "description": "Company not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidURL"
                }
              }
            }
          },
          "503": {
            "description": "System Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SystemError"
                }
              }
            }
          }
        }
      }
    },
    "/get-profile-posts": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "",
        "parameters": [
          {
            "name": "linkedin_url",
            "in": "query",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "posts",
                "comments",
                "reactions"
              ],
              "example": "posts"
            },
            "description": ""
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "description": "Use this param to fetch posts of the next result page: 0 for page 1, 50 for page 2, etc.",
            "schema": {
              "type": "integer"
            },
            "example": 0
          },
          {
            "name": "pagination_token",
            "in": "query",
            "required": false,
            "description": "Required when fetching the next result page. Please use the token from the result of your previous call.",
            "schema": {
              "type": "string"
            },
            "example": true
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfilePosts"
                }
              }
            }
          },
          "400": {
            "description": "Invalid linkedin url",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidURL"
                }
              }
            }
          },
          "404": {
            "description": "Profile not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileNotFound"
                }
              }
            }
          },
          "503": {
            "description": "Profile not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SystemError"
                }
              }
            }
          }
        }
      }
    },
    "/get-post-comments": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "",
        "parameters": [
          {
            "name": "urn",
            "in": "query",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "description": "Default value: Most relevant. Possible values: Most relevant, Most recent.",
            "schema": {
              "type": "string"
            },
            "example": "Most relevant"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "",
            "schema": {
              "type": "integer"
            },
            "example": 0
          },
          {
            "name": "pagination_token",
            "in": "query",
            "required": false,
            "description": "Required when fetching the next result page. Please use the token from the result of your previous call.",
            "schema": {
              "type": "string"
            },
            "example": true
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostComments"
                }
              }
            }
          },
          "400": {
            "description": "Invalid urn",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidURN"
                }
              }
            }
          },
          "404": {
            "description": "Post not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileNotFound"
                }
              }
            }
          },
          "503": {
            "description": "Profile not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SystemError"
                }
              }
            }
          }
        }
      }
    },
    "/get-post-reactions": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "",
        "parameters": [
          {
            "name": "urn",
            "in": "query",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "ALL",
                "LIKE",
                "EMPATHY",
                "APPRECIATION",
                "INTEREST",
                "PRAISE"
              ],
              "example": "ALL"
            },
            "description": ""
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "",
            "schema": {
              "type": "integer"
            },
            "example": 0
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostReactions"
                }
              }
            }
          },
          "400": {
            "description": "Invalid urn",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidURN"
                }
              }
            }
          },
          "404": {
            "description": "Post not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileNotFound"
                }
              }
            }
          },
          "503": {
            "description": "Profile not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SystemError"
                }
              }
            }
          }
        }
      }
    },
    "/get-company-posts": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "",
        "parameters": [
          {
            "name": "linkedin_url",
            "in": "query",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "description": "",
            "schema": {
              "type": "integer"
            },
            "example": 0
          },
          {
            "name": "pagination_token",
            "in": "query",
            "required": false,
            "description": "Required when fetching the next result page. Please use the token from the result of your previous call.",
            "schema": {
              "type": "string"
            },
            "example": 0
          },
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "description": "Possible values: top, recent",
            "schema": {
              "type": "string",
              "enum": [
                "top",
                "recent"
              ],
              "example": "top"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyPosts"
                }
              }
            }
          },
          "400": {
            "description": "Invalid linkedin url",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidURL"
                }
              }
            }
          },
          "404": {
            "description": "Profile not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileNotFound"
                }
              }
            }
          },
          "503": {
            "description": "Profile not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SystemError"
                }
              }
            }
          }
        }
      }
    },
    "/search-posts": {
      "post": {
        "summary": "",
        "description": "",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "search_keywords": {
                    "type": "string",
                    "description": "",
                    "example": "marketing"
                  },
                  "sort_by": {
                    "type": "string",
                    "description": "Sort order for results.",
                    "enum": [
                      "Latest",
                      "Relevance"
                    ],
                    "example": "Latest"
                  },
                  "date_posted": {
                    "type": "string",
                    "nullable": true,
                    "description": "Filter posts by a specific date or date range.",
                    "enum": [
                      "Past 24 hours",
                      "Past week",
                      "Past month",
                      "past-year",
                      "past-2y",
                      "past-3y"
                    ],
                    "example": "Past week"
                  },
                  "content_type": {
                    "type": "string",
                    "nullable": true,
                    "description": "Filter posts by content type.",
                    "enum": [
                      "Videos",
                      "Images",
                      "Job posts",
                      "Live videos",
                      "Documents",
                      "Collaborative articles"
                    ],
                    "example": "Videos"
                  },
                  "from_member": {
                    "type": "string",
                    "nullable": true,
                    "description": "Filter posts from a specific LinkedIn member.",
                    "example": ""
                  },
                  "from_company": {
                    "type": "string",
                    "nullable": true,
                    "description": "Filter posts from a specific company.",
                    "example": ""
                  },
                  "mentioning_member": {
                    "type": "string",
                    "nullable": true,
                    "description": "Filter posts mentioning a specific LinkedIn member.",
                    "example": ""
                  },
                  "mentioning_company": {
                    "type": "integer",
                    "nullable": true,
                    "description": "Filter posts mentioning a specific company by ID.",
                    "example": 162479
                  },
                  "author_company": {
                    "type": "string",
                    "nullable": true,
                    "description": "Filter posts by the company of the author.",
                    "example": "1441"
                  },
                  "author_industry": {
                    "type": "integer",
                    "nullable": true,
                    "description": "",
                    "example": 14
                  },
                  "author_keyword": {
                    "type": "string",
                    "nullable": true,
                    "description": "Filter posts by a specific keyword in the author's profile.",
                    "example": ""
                  },
                  "page": {
                    "type": "integer",
                    "description": "Pagination page number.",
                    "example": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchPosts"
                }
              }
            }
          },
          "400": {
            "description": "Invalid payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidPayload"
                }
              }
            }
          },
          "503": {
            "description": "System Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SystemError"
                }
              }
            }
          }
        }
      }
    },
    "/search-jobs": {
      "post": {
        "summary": "",
        "description": "",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "keywords": {
                    "type": "string",
                    "description": "Keywords to search for jobs.",
                    "example": "marketing"
                  },
                  "geo_code": {
                    "type": "integer",
                    "description": "Geographical code for filtering jobs.",
                    "example": 92000000
                  },
                  "date_posted": {
                    "type": "string",
                    "description": "Filter jobs by date posted. Acceptable values include predefined date ranges.",
                    "enum": [
                      "Any time",
                      "Past month",
                      "Past week",
                      "Past 24 hours"
                    ],
                    "example": "Any time"
                  },
                  "experience_levels": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "Internship",
                        "Associate",
                        "Director",
                        "Entry level",
                        "Mid-Senior level",
                        "Executive"
                      ]
                    },
                    "description": "Filter jobs by experience levels. Acceptable values include predefined experience levels.",
                    "example": [
                      "Internship",
                      "Entry level"
                    ]
                  },
                  "company_ids": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    },
                    "description": "Filter jobs by specific company IDs.",
                    "example": [
                      1035
                    ]
                  },
                  "title_ids": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Filter jobs by specific title IDs.",
                    "example": []
                  },
                  "onsite_remotes": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "On-site",
                        "Remote",
                        "Hybrid"
                      ]
                    },
                    "description": "Filter jobs by work environment. Acceptable values include predefined options: On-site, Remote, or Hybrid.",
                    "example": [
                      "Remote",
                      "Hybrid"
                    ]
                  },
                  "functions": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "Marketing",
                        "Sales",
                        "Business Development",
                        "Other",
                        "Strategy/Planning",
                        "Writing/Editing",
                        "Public Relations",
                        "Information Technology",
                        "Art/Creative",
                        "Administrative",
                        "Advertising"
                      ]
                    },
                    "description": "Filter jobs by specific functions. Acceptable values include predefined job functions.",
                    "example": [
                      "Marketing",
                      "Sales"
                    ]
                  },
                  "industries": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Filter jobs by industries.",
                    "example": []
                  },
                  "job_types": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Filter jobs by types (e.g., full-time, part-time).",
                    "example": []
                  },
                  "sort_by": {
                    "type": "string",
                    "description": "Sort jobs by relevance or most recent.",
                    "enum": [
                      "Most recent",
                      "Most relevant"
                    ],
                    "example": "Most relevant"
                  },
                  "easy_apply": {
                    "type": "string",
                    "description": "Filter jobs with the easy apply option. Acceptable values are 'true' or 'false'.",
                    "enum": [
                      "true",
                      "false"
                    ],
                    "example": "false"
                  },
                  "under_10_applicants": {
                    "type": "string",
                    "description": "Filter jobs with less than 10 applicants. Acceptable values are 'true' or 'false'.",
                    "enum": [
                      "true",
                      "false"
                    ],
                    "example": "false"
                  },
                  "start": {
                    "type": "integer",
                    "description": "Pagination start index.",
                    "example": 0
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchJobs"
                }
              }
            }
          },
          "400": {
            "description": "Invalid payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidPayload"
                }
              }
            }
          },
          "404": {
            "description": "No jobs not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidURL"
                }
              }
            }
          },
          "503": {
            "description": "System Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SystemError"
                }
              }
            }
          }
        }
      }
    },
    "/get-job-details": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "",
        "parameters": [
          {
            "name": "job_url",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uri",
              "example": "https://www.linkedin.com/jobs/view/3766410207/"
            },
            "description": "The URL of the job listing."
          },
          {
            "name": "include_skills",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ],
              "example": "false"
            },
            "description": ""
          },
          {
            "name": "include_hiring_team",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ],
              "example": "false"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobDetails"
                }
              }
            }
          },
          "400": {
            "description": "Invalid linkedin url",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidURL"
                }
              }
            }
          },
          "404": {
            "description": "Profile not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileNotFound"
                }
              }
            }
          },
          "503": {
            "description": "Profile not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SystemError"
                }
              }
            }
          }
        }
      }
    },
    "/search-employees": {
      "post": {
        "summary": "",
        "description": "",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "current_company_ids": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    },
                    "description": "",
                    "example": [
                      162479,
                      1053
                    ]
                  },
                  "title_keywords": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "",
                    "example": [
                      "Director",
                      "Operation"
                    ]
                  },
                  "functions": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "Accounting",
                        "Administrative",
                        "Arts and Design",
                        "Business Development",
                        "Community and Social Services",
                        "Consulting",
                        "Education",
                        "Engineering",
                        "Entrepreneurship",
                        "Finance",
                        "Healthcare Services",
                        "Human Resources",
                        "Information Technology",
                        "Legal",
                        "Marketing",
                        "Media and Communication",
                        "Military and Protective Services",
                        "Operations",
                        "Product Management",
                        "Program and Project Management",
                        "Purchasing",
                        "Quality Assurance",
                        "Real Estate",
                        "Research",
                        "Sales",
                        "Customer Success and Support"
                      ]
                    },
                    "description": "Filter results by job functions. Acceptable values include a predefined list of functions.",
                    "example": [
                      "Accounting",
                      "Administrative"
                    ]
                  },
                  "geo_codes": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    },
                    "description": "",
                    "example": [
                      103644278,
                      102299470
                    ]
                  },
                  "geo_codes_exclude": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    },
                    "description": "",
                    "example": [
                      105080838,
                      102257491
                    ]
                  },
                  "title_keywords_exclude": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Exclude specific title keywords.",
                    "example": [
                      "Sales"
                    ]
                  },
                  "past_company_ids": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    },
                    "description": "",
                    "example": [
                      1009
                    ]
                  },
                  "keywords": {
                    "type": "string",
                    "description": "",
                    "example": "system"
                  },
                  "limit": {
                    "type": "integer",
                    "description": "",
                    "example": 25
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchEmployees"
                }
              }
            }
          },
          "400": {
            "description": "Invalid payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidPayload"
                }
              }
            }
          },
          "503": {
            "description": "System Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SystemError"
                }
              }
            }
          }
        }
      }
    },
    "/search-employees-by-sales-nav-url": {
      "post": {
        "summary": "",
        "description": "",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "description": "The LinkedIn Sales Navigator URL for searching employees.",
                    "example": "https://www.linkedin.com/sales/search/people?coach=false&query=(filters%3AList((type%3AREGION%2Cvalues%3AList((id%3A103644278%2CselectionType%3AINCLUDED)))%2C(type%3ACURRENT_COMPANY%2Cvalues%3AList((id%3A82274765%2CselectionType%3AINCLUDED)))))"
                  },
                  "limit": {
                    "type": "integer",
                    "description": "Limit the number of results.",
                    "example": 25
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchEmployees"
                }
              }
            }
          },
          "400": {
            "description": "Invalid payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidPayload"
                }
              }
            }
          },
          "503": {
            "description": "System Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SystemError"
                }
              }
            }
          }
        }
      }
    },
    "/check-search-status": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Free.",
        "parameters": [
          {
            "name": "request_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "example": "dd1b29063de8927b31fa523d36432b61"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckSearchStatus"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request_id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidRequestID"
                }
              }
            }
          },
          "503": {
            "description": "Error not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SystemError"
                }
              }
            }
          }
        }
      }
    },
    "/get-search-results": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "",
        "parameters": [
          {
            "name": "request_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "example": "dd1b29063de8927b31fa523d36432b61"
            },
            "description": ""
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "example": 1
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Employees"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request_id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidRequestID"
                }
              }
            }
          },
          "503": {
            "description": "Error not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SystemError"
                }
              }
            }
          }
        }
      }
    },
    "/search-companies": {
      "post": {
        "summary": "",
        "description": "",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "company_headcounts": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "Self-employed",
                        "1-10",
                        "11-50",
                        "51-200",
                        "201-500",
                        "501-1000",
                        "1001-5000",
                        "5001-10000",
                        "10001+"
                      ]
                    },
                    "description": "Filter companies by headcount range. Acceptable values are predefined headcount ranges.",
                    "example": [
                      "1001-5000",
                      "5001-10000"
                    ]
                  },
                  "company_headcount_growth": {
                    "type": "object",
                    "properties": {
                      "min": {
                        "type": "integer",
                        "description": "Minimum percentage growth in headcount.",
                        "example": -10
                      },
                      "max": {
                        "type": "integer",
                        "description": "Maximum percentage growth in headcount.",
                        "example": 10
                      }
                    },
                    "description": "Filter companies by headcount growth percentage."
                  },
                  "headquarters_location": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    },
                    "description": "",
                    "example": [
                      103644278
                    ]
                  },
                  "industry_codes": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    },
                    "description": "",
                    "example": [
                      3,
                      4
                    ]
                  },
                  "hiring_on_linkedin": {
                    "type": "string",
                    "enum": [
                      "true",
                      "false"
                    ],
                    "description": "Filter companies hiring on LinkedIn.",
                    "example": "false"
                  },
                  "recent_activities": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "",
                    "example": []
                  },
                  "keywords": {
                    "type": "string",
                    "description": "",
                    "example": ""
                  },
                  "limit": {
                    "type": "integer",
                    "description": "",
                    "example": 1000
                  }
                },
                "required": [
                  "limit"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchCompanies"
                }
              }
            }
          },
          "400": {
            "description": "Invalid payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidPayload"
                }
              }
            }
          },
          "503": {
            "description": "System Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SystemError"
                }
              }
            }
          }
        }
      }
    },
    "/search-companies-by-sales-nav-url": {
      "post": {
        "summary": "",
        "description": "",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "description": "",
                    "example": "https://www.linkedin.com/sales/search/people?coach=false&query=(filters%3AList((type%3AREGION%2Cvalues%3AList((id%3A103644278%2CselectionType%3AINCLUDED)))%2C(type%3ACURRENT_COMPANY%2Cvalues%3AList((id%3A82274765%2CselectionType%3AINCLUDED)))))"
                  },
                  "limit": {
                    "type": "integer",
                    "description": "",
                    "example": 25
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchCompanies"
                }
              }
            }
          },
          "400": {
            "description": "Invalid payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidPayload"
                }
              }
            }
          },
          "503": {
            "description": "System Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SystemError"
                }
              }
            }
          }
        }
      }
    },
    "/check-search-companies-status": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Free.",
        "parameters": [
          {
            "name": "request_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "example": "dd1b29063de8927b31fa523d36432b61"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckSearchCompaniesStatus"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request_id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidRequestID"
                }
              }
            }
          },
          "503": {
            "description": "Error not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SystemError"
                }
              }
            }
          }
        }
      }
    },
    "/get-search-companies-results": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "",
        "parameters": [
          {
            "name": "request_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "example": "dd1b29063de8927b31fa523d36432b61"
            },
            "description": ""
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "example": 1
            },
            "description": "The page number for paginated results."
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCompanies"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request_id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidRequestID"
                }
              }
            }
          },
          "503": {
            "description": "Error not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SystemError"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "PersonalProfile": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "example": "ok"
          },
          "data": {
            "type": "object",
            "properties": {
              "linkedin_url": {
                "type": "string",
                "format": "uri",
                "example": "https://linkedin.com/in/anthonyjames"
              },
              "first_name": {
                "type": "string",
                "example": "Anthony"
              },
              "last_name": {
                "type": "string",
                "example": "James"
              },
              "full_name": {
                "type": "string",
                "example": "Anthony James"
              },
              "location": {
                "type": "string",
                "example": "Sydney, Australia"
              },
              "city": {
                "type": "string",
                "example": "Sydney"
              },
              "state": {
                "type": "string",
                "example": "New South Wales"
              },
              "country": {
                "type": "string",
                "example": "Australia"
              },
              "headline": {
                "type": "string",
                "example": "Technology Leader & Innovator"
              },
              "about": {
                "type": "string",
                "example": "Experienced leader in marketing and technology."
              },
              "email": {
                "type": "string",
                "format": "email",
                "example": "example@example.com"
              },
              "phone": {
                "type": "string",
                "example": "+61234567890"
              },
              "profile_image_url": {
                "type": "string",
                "format": "uri",
                "example": "https://example.com/profile.jpg"
              },
              "follower_count": {
                "type": "integer",
                "example": 20000
              },
              "connection_count": {
                "type": "integer",
                "example": 15000
              },
              "job_title": {
                "type": "string",
                "example": "CEO"
              },
              "current_job_duration": {
                "type": "string",
                "example": "8 years 2 months"
              },
              "current_company_join_month": {
                "type": "integer",
                "example": 3
              },
              "current_company_join_year": {
                "type": "integer",
                "example": 2015
              },
              "company": {
                "type": "string",
                "example": "Trinity Consulting Services"
              },
              "company_description": {
                "type": "string",
                "example": "A global leader in technology consulting."
              },
              "company_domain": {
                "type": "string",
                "example": "trinity.com"
              },
              "company_employee_range": {
                "type": "string",
                "example": "201-500"
              },
              "company_industry": {
                "type": "string",
                "example": "Technology Consulting"
              },
              "company_linkedin_url": {
                "type": "string",
                "format": "uri",
                "example": "https://linkedin.com/company/trinity"
              },
              "company_logo_url": {
                "type": "string",
                "format": "uri",
                "example": "https://example.com/logo.png"
              },
              "company_website": {
                "type": "string",
                "format": "uri",
                "example": "https://trinity.com"
              },
              "company_year_founded": {
                "type": "integer",
                "example": 1990
              },
              "hq_city": {
                "type": "string",
                "example": "Sydney"
              },
              "hq_country": {
                "type": "string",
                "example": "Australia"
              },
              "hq_region": {
                "type": "string",
                "example": "New South Wales"
              },
              "school": {
                "type": "string",
                "example": "University of Technology Sydney"
              },
              "skills": {
                "type": "string",
                "example": "Leadership, Innovation, Marketing"
              },
              "urn": {
                "type": "string",
                "example": "ACoAAAGafwYBi3pXOoVVwIyAFc453DuIv50jfTA"
              },
              "experiences": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "company": {
                      "type": "string",
                      "example": "ABC Tech"
                    },
                    "title": {
                      "type": "string",
                      "example": "Senior Consultant"
                    },
                    "location": {
                      "type": "string",
                      "example": "Melbourne, Australia"
                    },
                    "description": {
                      "type": "string",
                      "example": "Led multiple IT projects."
                    },
                    "start_year": {
                      "type": "integer",
                      "example": 2010
                    },
                    "end_year": {
                      "type": "integer",
                      "example": 2015
                    },
                    "duration": {
                      "type": "string",
                      "example": "5 years"
                    }
                  }
                }
              },
              "educations": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "school": {
                      "type": "string",
                      "example": "University of Technology Sydney"
                    },
                    "degree": {
                      "type": "string",
                      "example": "MBA"
                    },
                    "field_of_study": {
                      "type": "string",
                      "example": "Business Administration"
                    },
                    "start_year": {
                      "type": "integer",
                      "example": 2005
                    },
                    "end_year": {
                      "type": "integer",
                      "example": 2007
                    },
                    "activities": {
                      "type": "string",
                      "example": "Student Union President"
                    }
                  }
                }
              },
              "courses": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "title": {
                      "type": "string",
                      "example": "Advanced Marketing Strategies"
                    },
                    "associated": {
                      "type": "string",
                      "example": "Harvard Business School"
                    }
                  }
                }
              },
              "honors_and_awards": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "title": {
                      "type": "string",
                      "example": "Top Innovator 2022"
                    },
                    "issuer": {
                      "type": "string",
                      "example": "Forbes"
                    },
                    "description": {
                      "type": "string",
                      "example": "Recognized for contributions to technology innovation."
                    },
                    "date": {
                      "type": "string",
                      "format": "date",
                      "example": "2022-10-01"
                    }
                  }
                }
              },
              "certifications": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "example": "Project Management Professional (PMP)"
                    },
                    "authority": {
                      "type": "string",
                      "example": "PMI"
                    },
                    "issued": {
                      "type": "string",
                      "format": "date",
                      "example": "2021-01"
                    },
                    "url": {
                      "type": "string",
                      "format": "uri",
                      "example": "https://example.com/certificate"
                    }
                  }
                }
              },
              "languages": {
                "type": "string",
                "example": "English, French"
              },
              "organizations": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "example": "Rotary Club"
                    },
                    "role": {
                      "type": "string",
                      "example": "Member"
                    },
                    "description": {
                      "type": "string",
                      "example": "Community Service and Leadership Development"
                    }
                  }
                }
              },
              "patents": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "example": "AI-powered Scheduling Tool"
                    },
                    "patent_number": {
                      "type": "string",
                      "example": "US12345678B2"
                    },
                    "issued": {
                      "type": "string",
                      "format": "date",
                      "example": "2020-06-01"
                    }
                  }
                }
              },
              "profile_id": {
                "type": "string",
                "example": "profile123"
              },
              "profile_status": {
                "type": "object",
                "properties": {
                  "joined_date": {
                    "type": "string",
                    "example": "2008-01-01"
                  },
                  "verified": {
                    "type": "boolean",
                    "example": true
                  },
                  "profile_photo_updated": {
                    "type": "boolean",
                    "example": true
                  },
                  "contact_info_updated": {
                    "type": "boolean",
                    "example": true
                  }
                }
              },
              "projects": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "example": "Project Apollo"
                    },
                    "description": {
                      "type": "string",
                      "example": "Developed a cloud-based platform."
                    }
                  }
                }
              },
              "public_id": {
                "type": "string",
                "example": "anthony-james"
              },
              "publications": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "title": {
                      "type": "string",
                      "example": "Innovating in the Digital Age"
                    },
                    "publisher": {
                      "type": "string",
                      "example": "TechWorld"
                    },
                    "date": {
                      "type": "string",
                      "format": "date",
                      "example": "2022-07-15"
                    },
                    "description": {
                      "type": "string",
                      "example": "Exploring trends in technology innovation."
                    }
                  }
                }
              },
              "volunteers": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "organization": {
                      "type": "string",
                      "example": "Local Library"
                    },
                    "role": {
                      "type": "string",
                      "example": "Volunteer Tutor"
                    },
                    "description": {
                      "type": "string",
                      "example": "Assisted students with learning challenges."
                    }
                  }
                }
              }
            }
          }
        }
      },
      "InvalidURL": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "nullable": true,
            "example": null
          },
          "message": {
            "type": "string",
            "example": "Bad request: Invalid linkedin_url."
          }
        }
      },
      "InvalidRequestID": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "nullable": true,
            "example": null
          },
          "message": {
            "type": "string",
            "example": "Bad request: Invalid request_id."
          }
        }
      },
      "InvalidURN": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "nullable": true,
            "example": null
          },
          "message": {
            "type": "string",
            "example": "Bad request: Invalid URN."
          }
        }
      },
      "InvalidDomain": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "nullable": true,
            "example": null
          },
          "message": {
            "type": "string",
            "example": "Bad request: Invalid domain."
          }
        }
      },
      "InvalidCompanyID": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "nullable": true,
            "example": null
          },
          "message": {
            "type": "string",
            "example": "Bad request: Invalid company_id."
          }
        }
      },
      "InvalidPayload": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "nullable": true,
            "example": null
          },
          "message": {
            "type": "string",
            "example": "Bad request: Invalid payload."
          }
        }
      },
      "ProfileActivity": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "example": "ok"
          },
          "data": {
            "type": "object",
            "properties": {
              "recent_activity_time": {
                "type": "string",
                "example": "4d"
              }
            }
          }
        }
      },
      "ProfileNotFound": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "nullable": true,
            "example": null
          },
          "message": {
            "type": "string",
            "example": "The url was not found on Linkedin."
          }
        }
      },
      "IDNotFound": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "nullable": true,
            "example": null
          },
          "message": {
            "type": "string",
            "example": "The id was not found on Linkedin."
          }
        }
      },
      "NoProfileFound": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "nullable": true,
            "example": null
          },
          "message": {
            "type": "string",
            "example": "there are no people match your search."
          }
        }
      },
      "SystemError": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "nullable": true,
            "example": null
          },
          "message": {
            "type": "string",
            "example": "System error. We will fix it soon!"
          }
        }
      },
      "CompanyByLinkedin": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "example": "ok"
          },
          "data": {
            "type": "object",
            "properties": {
              "affiliated_companies": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "example": []
              },
              "company_id": {
                "type": "string",
                "example": "162479"
              },
              "company_name": {
                "type": "string",
                "example": "Apple"
              },
              "description": {
                "type": "string",
                "example": "We\u2019re a diverse collective of thinkers and doers, continually reimagining what\u2019s possible to help us all do what we love in new ways. And the same innovation that goes into our products also applies to our practices \u2014 strengthening our commitment to leave the world better than we found it. This is where your work can make a difference in people\u2019s lives. Including your own.\n\nApple is an equal opportunity employer that is committed to inclusion and diversity. Visit apple.com/careers to learn more."
              },
              "domain": {
                "type": "string",
                "example": "apple.com"
              },
              "email": {
                "type": "string",
                "example": ""
              },
              "employee_count": {
                "type": "integer",
                "example": 165036
              },
              "employee_range": {
                "type": "string",
                "example": "10001+"
              },
              "follower_count": {
                "type": "integer",
                "example": 17689006
              },
              "funding_info": {
                "type": "string",
                "example": {
                  "crunchbase_url": "https://www.crunchbase.com/organization/apple",
                  "last_funding_round_amount": null,
                  "last_funding_round_currency": null,
                  "last_funding_round_month": 4,
                  "last_funding_round_type": "Post IPO equity",
                  "last_funding_round_year": 2021,
                  "num_funding_rounds": null
                }
              },
              "hq_address_line1": {
                "type": "string",
                "example": "1 Apple Park Way"
              },
              "hq_address_line2": {
                "type": "string",
                "example": ""
              },
              "hq_city": {
                "type": "string",
                "example": "Cupertino"
              },
              "hq_country": {
                "type": "string",
                "example": "US"
              },
              "hq_full_address": {
                "type": "string",
                "example": "1 Apple Park Way, Cupertino, California 95014, US"
              },
              "hq_postalcode": {
                "type": "string",
                "example": "95014"
              },
              "hq_region": {
                "type": "string",
                "example": "California"
              },
              "industries": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "example": [
                  "Computers and Electronics Manufacturing"
                ]
              },
              "linkedin_url": {
                "type": "string",
                "example": "https://www.linkedin.com/company/apple/"
              },
              "locations": {
                "type": "array",
                "items": {
                  "type": "object"
                },
                "example": [
                  {
                    "city": "Cupertino",
                    "country": "US",
                    "full_address": "1 Apple Park Way, Cupertino, California 95014, US",
                    "is_headquarter": true,
                    "line1": "1 Apple Park Way",
                    "line2": "",
                    "region": "California",
                    "zipcode": "95014"
                  }
                ]
              },
              "logo_url": {
                "type": "string",
                "example": "https://media.licdn.com/dms/image/v2/C560BAQHdAaarsO-eyA/company-logo_400_400/company-logo_400_400/0/1630637844948/apple_logo?e=1744243200&v=beta&t=UZPODQ4VLm4xKooGWuiYIUtapnfYcfNDEc_gYgqNZN8"
              },
              "phone": {
                "type": "string",
                "example": ""
              },
              "specialties": {
                "type": "string",
                "example": "Innovative Product Development, World-Class Operations, Retail, Telephone Support"
              },
              "tagline": {
                "type": "string",
                "example": ""
              },
              "website": {
                "type": "string",
                "example": "http://www.apple.com/careers"
              },
              "year_founded": {
                "type": "integer",
                "example": 1976
              }
            }
          }
        }
      },
      "CompanyByDomain": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "example": "ok"
          },
          "confident_score": {
            "type": "string",
            "example": "100%"
          },
          "data": {
            "type": "object",
            "properties": {
              "affiliated_companies": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "example": [
                  "https://www.linkedin.com/company/123456"
                ]
              },
              "company_id": {
                "type": "string",
                "example": "162479"
              },
              "company_name": {
                "type": "string",
                "example": "Apple"
              },
              "description": {
                "type": "string",
[...]
